aiodns==3.5.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
argon2-cffi==23.1.0
argon2-cffi-bindings==25.1.0
attrs==25.3.0
brotli==1.1.0
build==1.3.0
cachecontrol==0.14.3
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
cleo==2.1.0
click==8.2.1
crashtest==0.4.1
distlib==0.4.0
dotenv==0.9.9
dulwich==0.21.7
fastapi==0.116.1
fastjsonschema==2.21.2
filelock==3.19.1
frozenlist==1.7.0
fsspec==2025.9.0
ftfy==6.3.1
h11==0.16.0
hf-xet==1.1.9
huggingface-hub==0.34.4
idna==3.10
installer==0.7.0
jaraco-classes==3.4.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keyring==24.3.1
more-itertools==10.8.0
msgpack==1.1.1
msgpackr-python==0.1.6
multidict==6.6.4
novelai-api==0.34.1
packaging==25.0
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.12.1.2
platformdirs==4.4.0
poetry==1.8.5
poetry-core==1.9.1
poetry-plugin-export==1.8.0
propcache==0.3.2
ptyprocess==0.7.0
pycares==4.10.0
pycparser==2.22
pydantic==2.11.7
pydantic-core==2.33.2
pynacl==1.5.0
pyproject-hooks==1.2.0
python-dotenv==1.1.1
pyyaml==6.0.2
rapidfuzz==3.14.1
referencing==0.36.2
regex==2023.12.25
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.27.1
sentencepiece==0.2.1
shellingham==1.5.4
sniffio==1.3.1
starlette==0.47.3
tokenizers==0.15.2
tomlkit==0.13.3
tqdm==4.67.1
trove-classifiers==2025.9.8.13
typing-extensions==4.15.0
typing-inspection==0.4.1
urllib3==2.5.0
uvicorn==0.35.0
virtualenv==20.34.0
wcwidth==0.2.13
xattr==1.2.0
yarl==1.20.1
